<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/welcome']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['products']">Product List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Add Product</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link">Welcome {{ userName }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Show Messages</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" [routerLink]="['login']">Log In</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>
<div class="container">
  <span>router-outler in app-routing-course</span>
  <router-outlet></router-outlet>
</div>