<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon [routerLink]="['/home']">home</mat-icon>
        </button>

        <!-- pluralsight -->
        <button mat-button [matMenuTriggerFor]="pluralsight">Pluralsight</button>

        <mat-menu #pluralsight="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="angular">Angular</button>
        </mat-menu>

        <mat-menu #angular="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="routing">Routing</button>
        </mat-menu>

        <mat-menu #routing="matMenu">
            <button mat-menu-item routerLinkActive="router-link-active"
                [routerLink]="[pluralSightAngularRouting]">Angular Routing</button>
        </mat-menu>


        <!-- angular-university -->
        <button mat-button [matMenuTriggerFor]="aungularUnversity">Angular University</button>

        <mat-menu #aungularUnversity="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="angular_university">Angular</button>
        </mat-menu>

        <mat-menu #angular_university="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="angular_university_testing">Testing</button>
        </mat-menu>

        <mat-menu #angular_university_testing="matMenu">
            <button mat-menu-item routerLinkActive="router-link-active"
                [routerLink]="[angularUniversityAngularTesting]">Angular Testing</button>
            <button mat-menu-item routerLinkActive="router-link-active"
                [routerLink]="[angularUniversityAngularNgrx]">Angular Ngrx (8)</button>
        </mat-menu>

        <!-- medium -->
        <button mat-button [matMenuTriggerFor]="medium">Medium</button>

        <mat-menu #medium="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="medium_rxjs">Rxjs</button>
        </mat-menu>

        <mat-menu #medium_rxjs="matMenu">
            <button mat-menu-item routerLinkActive="router-link-active" [routerLink]="[mediumAngularRxjs]">mergeMap and
                forkJoin</button>
        </mat-menu>

    </div>
    <!-- <div>
        <a routerLink="/pluralsight">Pluralsight</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/owner">Owner Actions</a>
            </li>
            <li>
                <a routerLink="/account">Account Actions</a>
            </li>
        </ul>
    </div> -->
</mat-toolbar>