<!-- header -->
<app-header></app-header>

<!-- main -->
<main>
  <router-outlet></router-outlet>
</main>

<button (click)="openModal()">Open custom Modal</button>
<!-- footer -->
<app-footer></app-footer>
