<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button routerLink="/">
    <span>COURSES</span>
  </a>

  <a mat-button routerLink="/about">
    <span>ABOUT</span>
  </a>
</mat-toolbar>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>