<button (click)="loadData()">Rxjs - getDataByUsingSubscribe</button>

<div>
  <button (click)="loadDataNg()">Rxjs - mergeMap</button>
</div>
<div>
  <button (click)="loadDataWithForkJoin()">Rxjs - loadDataWithForkJoin</button>
</div>